<article class="pizza-item">

  <header class="pizza-item-header">
    <h3>{{ pizza.ru?.name }}</h3>
  </header>

  <div class="pizza-item-hover-cover"></div>

  <figure class="pizza-item-content">
    <img  class="pizza-item-content-image" [src]="pizza.img" alt="" />
    <figcaption class="pizza-item-content-description">
      <p><strong>{{ pizza.ru?.desc }}</strong></p>
    </figcaption>
  </figure>

  <footer class="pizza-item-footer">
    <size-checker [pizzaId]="pizza.id" (onSizeChecked)="onSizeChecked($event)"></size-checker>
    <price-weight [price]="pizza.price" [weight]="pizza.weight" (onOrder)="onOrder()"></price-weight>
  </footer>

</article>
